.App {
  text-align: center;
  background-color: rgba(133, 130, 224, 0.733);
}

.button_group {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.input {
  width: 170px;
  padding: 15px;
  border-radius: 20px;
  border: none;
  background-color: rgba(147, 119, 231, 0.733);
  color: white;
}
input:focus {
  outline: none;
}

@media (max-width: 530px) {
  .input {
    width: 100px;
    padding: 10px;
  }
}
@media (max-width: 370px) {
  .input {
    width: 70px;
    padding: 8px;
  }
}
